.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
}
@media (min-width: 768px) {
    .container {width:750px;}

}
@media (min-width: 992px) {
    .container {width:970px;}

}
@media (min-width: 1200px) {
    .container {width:1170px;}

}
.row {
    margin-right: -15px;
    margin-left: -15px;
    background-color: aqua;
}